<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.charlesmilette.oneplus2drawericon">

    <application
        android:allowBackup="false"
        android:icon="@drawable/drawer"
        android:label="OnePlus 2 Drawer Icon"
        android:supportsRtl="true">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Change your app drawer's icon for the one included in OnePlus 2" />
        <meta-data
            android:name="xposedminversion"
            android:value="54" />
    </application>

</manifest>
